extends layout

block content
  .container
    h1 Resources
    .row
      .col-md-8
        h3 Learning Materials
        .list-group
          a.list-group-item.list-group-item-action(href="https://docs.google.com/document/d/yourlink1", target="_blank")
            i.fas.fa-file-pdf.mr-2
            | Mathematics behind Deep Learning Lesson 1
          
          a.list-group-item.list-group-item-action(href="https://docs.google.com/document/d/yourlink2", target="_blank")
            i.fas.fa-file-pdf.mr-2
            | Java Lesson 3
            
          a.list-group-item.list-group-item-action(href="https://docs.google.com/document/d/yourlink3", target="_blank")
            i.fas.fa-file-pdf.mr-2
            | How to use the ChatGPT API